.App {
	text-align: center;
	padding: 3rem;
}

.home__container {
	text-align: left;
}

.stories__list {
	list-style-type: none;
}

.stories__item {
	margin: 1rem 0;
}

.stories__link {
	color: hsl(6deg 72% 43%);
	text-decoration: none;
	font-weight: bold;
}

.stories__link:hover {
	opacity: 0.5;
}

.loading {
	font-size: 30px;
}

.loading:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4, end) 900ms infinite;
	animation: ellipsis steps(4, end) 900ms infinite;
	content: "\2026"; /* ascii code for the ellipsis character */
	width: 0px;
}

@keyframes ellipsis {
	to {
		width: 1.25em;
	}
}
